#grouplinkwithtext {
    text-decoration:none;
    color:black;
}

#groupImage {
    width: 300px;
    height: 200px;
    /* background-color: #8ca0ff; */
}

#groupgrid1{
    display: grid;
    grid-template-areas:
      "item1 item2"
      "item1 item2";
    grid-template-rows:  220px 1fr;
    grid-template-columns: 320px 1fr;
    /* background-color: #ffff64; */
}

#groupitem1{
    grid-area: item1;
    /* margin-right: 0.5em; */
    /* background-color: #8ca0ff; */
}

#groupitem2 {
    grid-area: item2;
    /* background-color: #ffa08c; */
}
