form {
  display: grid;
  grid-gap: 15px;
  font-family: Georgia, serif, cursive;
}

input {
  width: 80%;
  padding: 12px 8px;
  display: inline-block;
}

/* button {
  margin: 0 auto;
  background-color: #24a5eb;
  color: white;
  width: 30%;
  height: 30px;
}

button:hover {
    opacity: 0.86;
} */
