#modal-content{
    border-radius: 1em;
    padding: 1em;
}

#deleteeventmodal{
    border-radius: 5px;
    /* background-color: aliceblue; */
    display: grid;
    /* justify-content: space-between; */

}

#deleteeventmodal > h2{
    justify-self: center;
    margin-bottom: 0.3em;
}

#deleteeventmodal > p{
    margin-top: 0;
}

#yesdeleteevent{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    color: white;
    background-color: red;
    width:98%;
    cursor: pointer;
}

#nokeepevent{
    /* font-size: 1em; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    color: white;
    background-color: #555555;
    width:98%;
    cursor: pointer;
}
