/* #eventImage {
    width: 300px;
    height: 200px;
  } */


  #landingpage{
    /* z-index: -1; */
    display: grid;
    grid-template-areas:
      "section1 section2 section2"
      "section3 section3 section3"
      "section4 section5 section6"
      "section7 section7 section7";
    justify-content: center;
    align-items: end;
    /* grid-template-rows:  220px 1fr;
    grid-template-columns: 320px 1fr; */
    /* background-color: #ffff64; */
  }

  #landingpagetopsection{
    padding-right: 1.2em;
    grid-area: section1;
    justify-self: center;
    /* background-color: #8ca0ff; */
  }

  #landinglogopng {
    grid-area: section2;
    justify-self: center;
    /* background-color: #ffa08c; */
  }

  #landingpagemidsection {
    margin-top: 2em;
    grid-area: section3;
    justify-self: center;
    /* background-color: aliceblue; */
  }

  #midsectiondivtitle{
    font-size: 1.5em;
  }

  #sectionseeallgroups {
    margin-top: 2em;
    /* margin-right: 2em; */
    margin-left: 2.5em;
    grid-area: section4;
    justify-self: center;
    /* background-color: aliceblue; */
  }

  #sectionfindanevent {
    /* right: 2em; */
    margin-top: 2em;
    grid-area: section5;
    /* justify-self: center; */
    /* background-color: aliceblue; */
  }

  #sectionstartanewgroup {
    margin-top: 2em;
    grid-area: section6;
    /* justify-self: center; */
    /* justify-content: center; */
    /* background-color: aliceblue; */
  }

  #sectionsjoinsfe {
    grid-area: section7;
    justify-self: center;
  }

  #greenseeallgroups, #greenfindanevent, #greenstartanew{
    font-size: 1.4em;
    color:darkgreen;
    cursor: pointer;
    text-decoration: none;
  }

  #greystartanew{
    color:grey;
  }

  #sectionsjoinsfe > button {
    margin-top: 1em;
    color: white;
    background-color: darkgreen;
    justify-self: center;
    cursor: pointer;
    padding: 0em 1em;
    margin-left: 5em;
  }
