#groupsIsActive {
    margin-left: 0.5em;
}

#eventsIsNotActive {
    text-decoration:none;
}

#groupslistgrid{
    display: grid;
    justify-content: space-around;
}

#viewallgroups{
    text-decoration: none;
    width: 100%;
    justify-content: start;
}
