#groupsIsActive {
    margin-left: 0.5em;
    color: black;
}

#eventsIsNotActive {
    text-decoration:none;
    color: grey;
}

#groupslistgrid{
    display: grid;
    justify-content: space-around;
    align-content: start;
}

#viewallgroups{
    text-decoration: none;
}
