#groupsIsNotActive{
    text-decoration:none;
    color: grey;
}
#eventsIsActive{
    margin-right: 0.5em;
    color: black;
}

#eventslistgrid{
    display: grid;
    justify-content: space-around;
}

/* #viewallevents{
    width:100%;
    justify-content: start;
} */
