#groupsIsNotActive{
    text-decoration:none;
}
#eventsIsActive{
    margin-right: 0.5em ;
}

#eventslistgrid{
    display: grid;
    justify-content: space-around;
}

#viewallevents{
    width:100%;
    justify-content: start;
}
