#eventImage {
  width: 300px;
  height: 200px;
}

#groupeventslinkwithtext{
  text-decoration: none;
}

#grid11{
  display: grid;
  grid-template-areas:
    "item6 item7"
    "item8 item8";
  grid-template-rows:  220px 1fr;
  grid-template-columns: 320px 1fr;
  /* background-color: #ffff64; */
}

#item6{
  grid-area: item6;
  /* background-color: #8ca0ff; */
}

#item7 {
  grid-area: item7;
  /* background-color: #ffa08c; */
}

#item8 {
  grid-area: item8;
  width: 580px;
  /*height: 200px;
  text-wrap: stable;
  justify-content: start; */
}

#formattedPstStartDate{
  margin-top: 0;
}
