#eventgroupimage {
    width:95%;
    height:95%;
}

#eventdetails {
    display: grid;
    /* width: 100%;
    height: 250px; */
    grid-template-areas:
      "item1 item1"
      "item2 item3"
      "item2 item4"
      "item5 item5";
    /* justify-content: space-around; */
    align-items: start;
    /* grid-template-rows: 135px 1fr;
    grid-template-columns: 630px 1fr; */
    justify-content: center;
}

#eventdetailstitle{
    grid-area: item1;
    /* background-color: #8ca0ff; */
}
#eventdetailsimage{
    grid-area: item2;
    padding-right: 1em;
    /* background-color: #8ca0ff; */
}

#eventdetailsgroup{
    background-color: aliceblue;
    border-radius: 1em;
    grid-area: item3;
    display: grid;
    grid-template-areas:
    "item6 item7"
    "item6 item7"
    "item6 item7";
    grid-template-rows: 5px 1fr 5px;
    grid-template-columns: 220px 1fr;
}

#eventdetailsinfo{
    grid-area: item4;
    background-color: #8ca0ff;
    border-radius: 1em;
}

#eventdetailsdescription{
    grid-area: item5;
    /* background-color: #8ca0ff; */
}

#eventgroupimage {
    grid-area: item6;
    padding-top: 1em;
    padding-left: 1em;
    height: 80%;
    /* background-color: #8ca0ff; */
}

#eventdetailsgrouptext {
    grid-area: item7;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-top: 0;
    /* background-color: red; */
}

#eventdetailsclockdate{
    display: grid;
    grid-template-areas:
    "thefasfaclock startenddate";
    padding-left: 1em;
    justify-content: flex-start;
    /* background-color: #8ca0ff; */
}

#eventdetailsfasfaclock{
    grid-area:thefasfaclock;
    padding-top: 2.5em;
    padding-right: 0.5em;
}

#eventdetailsstartenddate{
    padding-top: 2em;
    grid-area: startenddate;
}

#freeevent{
    padding-top: 3em;
    padding-left: 1em;
}

#notfreeevent{
    padding-top: 3em;
    padding-left: 1em;
}
#icontypeanddeletebutton{
    padding-left: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-areas:
    "eventdetailsicontype eventdetailsdeletebutton";
}
#eventdetailsicontype{
    padding-top: 3em;
}

#eventdetailsdeletebutton{
    padding-top: 3em;
    justify-self: center;
}

#eventdetailsdeletebutton > button {
    color: white;
    background-color: #555555;
}
