nav {
  font-family: Georgia, serif, cursive;
  color:black;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
NavLink {
  position: relative;
  float:inline-start;
}

#logoImage {
  width: 80%;
  height: 80%;
}

#greennavstartnew{
  color:darkgreen;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3em;
}
/* .hidden{
  display: none;
} */
