nav {
  font-family: Georgia, serif, cursive;
  color:black;
  display:flex;
  justify-content: space-between;
}
NavLink {
  position: relative;
  float:inline-start;
}

#logoImage {
  width: 80%;
  height: 80%;
}

/* .hidden{
  display: none;
} */
