#openMenuNavButton, #closeMenuNavButton {
    color: #ff0088;
    border-color: white;
}

#profileNavButtonMenuItem {
    /* position:absolute; */
    float: inline-end;
}

.hidden{
    display:none;
}

#menuviewgroups{
    text-decoration: none;
    color: black;
}
