#loginform {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
  font-family: Georgia, serif, cursive;
}

.loginput {
  width: 100%;
  display: inline-block;
}

#loginsubmitbutton, #logindemobutton{
  margin: 0 auto;
  background-color: white;
}

#logindemobutton{
  /* text-decoration: none; */
  justify-content: center;
  border-color: white;
}
