#loginform {
  display: grid;
  width:400px;
  grid-gap: 15px;
  justify-content: center;
  font-family: Georgia, serif, cursive;
}

#loginmodal > h1{
  text-align: center;
}
.loginput {
  width:400px;
  /* width: 100%; */
  display: inline-block;
}

#loginsubmitbutton, #logindemobutton{
  width:400px;
  margin: 0 auto;
  background-color: white;
  cursor: pointer;
  /* width: 100%; */
}

#logindemobutton{
  width:400px;
  /* text-decoration: none; */
  justify-content: center;
  border-color: white;
}
