form {
  display: grid;
  grid-gap: 30px;
  font-family: Georgia, serif, cursive;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

button {
  background-color: #24a5eb;
  color: white;
  width: 30%;
  height: 30px;
}

button:hover {
    opacity: 0.86;
}
